@charset "UTF-8";
/* On modernise notre balise de navigation avec une petite ombre. On mets tous les éléments du menu les uns bien à côté des autres avec flexbox (display: flex) */
@import url("https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Piedra&family=Rouge+Script&display=swap");
nav {
  background-color: #fff;
  padding: 0 20px;
  border-radius: 40px;
  box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  justify-content: center;
  flex: 2;
  gap: 4%;
  right: 10%;
  width: 50%;
}

/* On stylise chaque élément */
.nav-item {
  color: #83818c;
  font-family: arial, sans-serif;
  padding: 20px;
  margin: 0 6px;
  position: relative;
}

/* Ici on met juste un petit élément avant chaque élément pour le rendre plus beau visuellement */
.nav-item:before {
  content: "";
  position: absolute;
  bottom: -6px;
  background-color: #dfe2ea;
  height: 5px;
  width: 100%;
  border-radius: 8px 8px 0 0;
  left: 0;
  transition: 0.3s;
}

/* Avec les dernières nouveautés de CSS, on peut changer les propriétés des éléments selon des conditions avec not */
.nav-item:not(.is-active):hover:before {
  bottom: 0;
}

.nav-item:not(.is-active):hover {
  color: #333;
}

/* Stylisons notre indicateur */
.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  transition: 0.4s;
  border-radius: 8px 8px 0 0;
}

.rouge-script-regular {
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.monsieur-la-doulaise-regular {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Rouge Script";
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #171c28;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat, sans-serif;
  margin: 4%;
  color: white;
}

main {
  margin: 4%;
}

header {
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
  width: 85vw;
  height: 7vh;
  position: fixed;
}
@media screen and (min-width: 768px) {
  header {
    gap: 5%;
  }
}
header h1 {
  color: rgb(62, 104, 253);
  font-size: 2rem;
  flex: 1;
  text-align: center;
}
@media screen and (min-width: 768px) {
  header h1 {
    font-size: 4.5rem;
  }
}

.left-content {
  display: flex;
  flex-direction: column;
  margin-top: 35%;
}
@media screen and (min-width: 768px) {
  .left-content {
    flex-direction: row;
    margin-top: 4%;
  }
}
.left-content .text-content {
  flex: 1;
  align-content: center;
  height: 80vh;
}
.left-content .text-content .socials {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 30px;
  margin-top: 8%;
  position: relative;
}
.left-content .text-content .socials a {
  position: relative;
  text-decoration: none;
  color: inherit;
}
.left-content .text-content .socials a .hover-text {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  white-space: nowrap;
}
.left-content .text-content .socials a:hover .hover-text {
  visibility: visible;
  opacity: 1;
}
.left-content .text-content .socials a i {
  transition: all 0.3s ease;
}
.left-content .text-content .socials a i:hover {
  cursor: pointer;
  color: rgb(40, 119, 255);
  transform: scale(1.2);
}
@media screen and (min-width: 768px) {
  .left-content .text-content .socials a {
    font-size: 45px;
    margin-top: 5%;
  }
}

.right-content {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .right-content {
    flex-direction: row-reverse;
  }
}
.right-content .text-content {
  flex: 1;
  height: 65vh;
  margin: 5% 0 5% 0;
  text-align: center;
}
.right-content .text-content .competences-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  font-size: 30px;
  width: 63%;
  margin: auto;
  padding-top: 8%;
  padding-bottom: 8%;
}
.right-content .text-content .competences-icons .hover-text {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  white-space: nowrap;
}
.right-content .text-content .competences-icons:hover .hover-text {
  visibility: visible;
  opacity: 1;
}
.right-content .text-content .competences-icons i {
  transition: all 0.3s case;
}
.right-content .text-content .competences-icons i:hover {
  cursor: pointer;
  color: rgb(40, 119, 255);
  transform: scale(1.2);
}
@media screen and (min-width: 768px) {
  .right-content .text-content .competences-icons {
    font-size: 45px;
  }
}

.title {
  font-size: 25px;
  font-family: Montserrat, sans-serif;
  margin-bottom: 3%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 50px;
  }
}

.paragraph {
  font-size: 0.8rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .paragraph {
    font-size: 20px;
  }
}

.illustration {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.illustration img {
  width: 90%;
  height: auto;
  margin-top: 9%;
  margin-bottom: 60%;
}
@media screen and (min-width: 768px) {
  .illustration img {
    width: 74%;
    height: auto;
    margin-top: 0;
  }
}

.actions-div {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 5%;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  transition: all 0.3s;
  background-color: orange;
  box-shadow: 0 10px 40px orange;
  color: white;
  border-color: #332100;
  margin-top: 4%;
}
.btn:hover {
  transform: translateY(-10%);
  color: #171c28;
  background-color: white;
  box-shadow: 0 10px 40px white;
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 16px;
    font-weight: 600;
  }
}

.modal {
  display: none; /* Caché par défaut */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  justify-content: center;
  align-items: center;
}
.modal .modal-dialog {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
}
.modal .modal-dialog .btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.modal .modal-dialog .modal-body {
  text-align: center;
}/*# sourceMappingURL=main.css.map */