@charset "UTF-8";
/* On modernise notre balise de navigation avec une petite ombre. On mets tous les éléments du menu les uns bien à côté des autres avec flexbox (display: flex) */
/* Styles par défaut (Mobile First) */
@import url("https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Piedra&family=Rouge+Script&display=swap");
nav {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 40px;
  box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 870px;
  margin: auto;
  position: relative;
}

/* Les liens sont cachés sur mobile */
.nav-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: -114%;
  width: 235%;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.nav-links.active {
  display: flex;
}

/* Bouton burger */
.burger-menu {
  display: block;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Desktop : afficher la navbar horizontalement */
@media screen and (min-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    box-shadow: none;
    padding: 0;
    width: auto;
  }
  .burger-menu {
    display: none;
  }
}
/* On stylise chaque élément */
.nav-item {
  color: #83818c;
  font-family: arial, sans-serif;
  padding: 20px;
  margin: 0 6px;
  position: relative;
}

/* Avec les dernières nouveautés de CSS, on peut changer les propriétés des éléments selon des conditions avec not */
.nav-item:not(.is-active):hover:before {
  bottom: 0;
}

.nav-item:not(.is-active):hover {
  color: #333;
}

/* Stylisons notre indicateur */
.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  transition: 0.4s;
  border-radius: 8px 8px 0 0;
}

.rouge-script-regular {
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.monsieur-la-doulaise-regular {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Rouge Script";
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #171c28;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat, sans-serif;
  margin: 4%;
  color: white;
}

main {
  margin: 4%;
}

header {
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
  width: 85vw;
  height: 7vh;
  position: fixed;
  z-index: 20;
}
@media screen and (min-width: 768px) {
  header {
    gap: 5%;
  }
}

h1 {
  color: rgb(40, 119, 255);
  font-size: 2.2rem;
  flex: 1;
  text-align: center;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

#presentation,
#dev,
#info,
#formation {
  width: 100%;
  height: 10vh;
}

@media screen and (min-width: 768px) {
  #galerie {
    width: 100%;
    height: 10vh;
  }
}
footer {
  color: white;
  font-size: 0.8rem;
}
@media screen and (min-width: 768px) {
  footer {
    font-size: 1rem;
    margin-top: 20%;
  }
}

.left-content {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .left-content {
    flex-direction: row;
    margin-top: 8%;
  }
}
.left-content .text-content {
  flex: 1;
  align-content: center;
  height: 80vh;
}
.left-content .text-content .socials {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 30px;
  margin-top: 6%;
  margin-bottom: 7%;
  position: relative;
}
.left-content .text-content .socials img {
  width: 12%;
}
.left-content .text-content .socials a {
  position: relative;
  text-decoration: none;
  color: inherit;
}
.left-content .text-content .socials a .hover-text {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  white-space: nowrap;
}
.left-content .text-content .socials a:hover .hover-text {
  visibility: visible;
  opacity: 1;
}
.left-content .text-content .socials a i {
  transition: all 0.3s ease;
}
.left-content .text-content .socials a i:hover {
  cursor: pointer;
  color: rgb(40, 119, 255);
  transform: scale(1.2);
}
@media screen and (min-width: 768px) {
  .left-content .text-content .socials a {
    font-size: 45px;
    margin-top: 5%;
  }
}

.draw {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  margin-bottom: 5%;
  align-items: center;
}
.draw img {
  width: 30%;
  height: 100%;
  padding: 2%;
}

.right-content {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .right-content {
    flex-direction: row-reverse;
    margin-top: 8%;
  }
}
.right-content .text-content {
  flex: 1;
  height: 65vh;
  margin: 5% 0 5% 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .right-content .text-content {
    margin: 0;
    align-content: center;
  }
}
.right-content .text-content .competences-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4%;
  font-size: 30px;
  width: 85%;
  margin: auto;
  padding-top: 8%;
  padding-bottom: 5%;
}
@media screen and (min-width: 768px) {
  .right-content .text-content .competences-icons {
    gap: 30px;
    font-size: 30px;
    width: 70%;
  }
}
.right-content .text-content .competences-icons .hover-text {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  white-space: nowrap;
}
.right-content .text-content .competences-icons:hover .hover-text {
  visibility: visible;
  opacity: 1;
}
.right-content .text-content .competences-icons i {
  transition: all 0.3s case;
}
.right-content .text-content .competences-icons i:hover {
  cursor: pointer;
  color: rgb(40, 119, 255);
  transform: scale(1.2);
}
@media screen and (min-width: 768px) {
  .right-content .text-content .competences-icons {
    font-size: 45px;
  }
}

.title {
  font-size: 25px;
  font-family: Montserrat, sans-serif;
  margin-bottom: 3%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 50px;
  }
}

.paragraph {
  font-size: 0.8rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .paragraph {
    font-size: 20px;
  }
}

.illustration {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.illustration img {
  width: 90%;
  height: auto;
  margin-top: -50%;
}
@media screen and (min-width: 768px) {
  .illustration img {
    width: 74%;
    height: auto;
    margin: auto;
    margin-top: 9%;
    margin-bottom: 60%;
  }
}

.actions-div {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 5%;
}

.fa-github {
  --fa:"";
  font-size: 1.5rem;
  padding: 4%;
  color: rgb(0, 255, 221);
}
@media screen and (min-width: 768px) {
  .fa-github {
    font-size: 3rem;
  }
}

section {
  width: 100%;
  height: 100vh;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  transition: all 0.3s;
  background-color: orange;
  box-shadow: 0 10px 40px orange;
  color: white;
  border-color: #332100;
  margin-top: 4%;
}
.btn:hover {
  transform: translateY(-10%);
  color: #171c28;
  background-color: white;
  box-shadow: 0 10px 40px white;
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 16px;
    font-weight: 600;
  }
}

.modal {
  display: none; /* Caché par défaut */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  justify-content: center;
  align-items: center;
}
.modal .modal-dialog {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
}
.modal .modal-dialog .btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.modal .modal-dialog .modal-body {
  text-align: center;
}/*# sourceMappingURL=main.css.map */