.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    transition: all 0.3s;
    background-color: $tertiary;
    box-shadow: 0 10px 40px $tertiary;
    color: $white;
    border-color: darken($color: $tertiary, $amount: 40%);
    margin-top: 4%;
    &:hover{
        transform: translateY(-10%);
        color: $dark;
        background-color: $white;
        box-shadow: 0 10px 40px $white;
    }
    @media screen and (min-width: 768px){
        font-size: 16px;
        font-weight: 600;
    }
}