*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color:$dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat,sans-serif;
    margin: 4%;
    color: $white;
}

main{
    margin: 4%;
}

header{
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
    width: 85vw;
    height: 7vh;
    position: fixed;
    z-index: 20;
    @media screen and (min-width: 768px){
        gap: 5%;
    }
}

h1{
    color:$primary;
    font-size: 2.2rem;
    flex: 1;
    text-align: center;
    @media screen and (min-width: 768px){
        font-size: 4rem;
    }
}

#presentation,
#dev,
#info,
#formation{
    width: 100%;
    height: 10vh;
}

@media screen and (min-width: 768px){
    #galerie{
        width: 100%;
        height: 10vh
    }
    
}


footer{
    color: $white;
    font-size: 0.8rem;
    @media screen and (min-width: 768px){
        font-size: 1rem;
         margin-top: 20%;
    }
}