/* On modernise notre balise de navigation avec une petite ombre. On mets tous les éléments du menu les uns bien à côté des autres avec flexbox (display: flex) */
/* Styles par défaut (Mobile First) */
nav {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 40px;
  box-shadow: 0 10px 40px rgba(159, 162, 177, .8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
  position: relative;
}

/* Les liens sont cachés sur mobile */
.nav-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: -114%;
  width: 235%;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.nav-links.active {
  display: flex;
}

/* Bouton burger */
.burger-menu {
  display: block;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Desktop : afficher la navbar horizontalement */
@media screen and (min-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    box-shadow: none;
    padding: 0;
    width: auto;
  }

  .burger-menu {
    display: none;
  }
}

  
  /* On stylise chaque élément */
  .nav-item {
    color: #83818c;
    font-family: arial, sans-serif;
    padding: 20px;
    margin: 0 6px;
    position: relative;
  }
  
  /* Avec les dernières nouveautés de CSS, on peut changer les propriétés des éléments selon des conditions avec not */
  .nav-item:not(.is-active):hover:before {
    bottom: 0;
  }
  .nav-item:not(.is-active):hover {
    color: #333;
  }
  
  /* Stylisons notre indicateur */
  .nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    transition: .4s;
    border-radius: 8px 8px 0 0;
  }