@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Piedra&family=Rouge+Script&display=swap');

// @font-face {
//     font-family: 'Romeria Notes PERSONAL USE Regular';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Romeria Notes PERSONAL USE Regular'), url('/styles/RomeriaNotesPersonalUseRegular-aYY79.woff') format('woff');
//     }

    .rouge-script-regular {
        font-family: "Rouge Script", cursive;
        font-weight: 400;
        font-style: normal;
    }

    .monsieur-la-doulaise-regular {
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: 400;
    font-style: normal;
    }

h1{
    font-family: 'Rouge Script';
}